<nav class="container">
    <ul>
        <li><strong>SC</strong></li>
    </ul>
    <ul hidden id="logged-in">
        <li><a href="/groups">Groups</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
    <ul id="logged-out">
        <li><a href="/register">Register</a></li>
        <li><a href="/login" role="button">Login</a></li>
    </ul>
</nav>


<script lang="js">
    checkLoginStatus()
    setInterval(checkLoginStatus, 10000)

    function checkLoginStatus() {
        let loggedIn = false;
        if (document.cookie.split(";").some((item) => item.trim().startsWith("token="))) {
            loggedIn = true;
        }

        if (loggedIn) {
            const logOut = document.getElementById("logged-out")
            const logIn = document.getElementById("logged-in")

            logOut.hidden = true
            logIn.hidden = false
        }
    }
</script>