<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SC - Chat</title>
    <meta th:replace="~{snippets/head-links}"/>
</head>
<body>
<div th:replace="~{snippets/navbar}"></div>

<div class="container">
    <div class="grid">
        <div>
            <h1 style="text-align:center" id="group_name"></h1>
        </div>
        <div>
            <div hx-confirm="Are you sure?">
                <button id="group_delete"
                        style="width: 50%; background: darkred; border-color: darkred;"
                        onclick="deleteGroup()" hidden>
                    Delete Group
                </button>
                <button id="group_leave"
                        style="width: 50%; background: darkred; border-color: darkred;"
                        onclick="leaveGroup()" hidden>
                    Leave Group
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container" hx-ext="client-side-templates">
    <template id="message_array">
        {{#.}}
        <article>
            <div class="grid">
                <div>
                    <hgroup>
                        <h1>{{user.username}}</h1>
                        <h2>{{message}}</h2>
                    </hgroup>
                    <i>Sent at {{sentAt}}</i>
                </div>
                <div>
                </div>
            </div>
        </article>
        {{/.}}
    </template>

    <div id="display_chat"></div>

    <div class="container">
        <form hx-post="/api/v1/messages"
              hx-on::after-request="location.reload()">
            <input
                    type="text"
                    name="data"
                    placeholder="Message"
                    aria-label="Message"
                    required
            />
            <input
                    id="gid_message"
                    type="number"
                    name="gid"
                    placeholder="gid"
                    aria-label="gid"
                    required
                    hidden
            />
            <button type="submit" class="contrast">Submit</button>
        </form>
    </div>
</div>

<div th:replace="~{snippets/footer}"></div>
</body>
</html>

<script lang="js">
    loadData()

    async function loadData() {
        // Group Title
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString)
        const gid = urlParams.get("gid")

        const groupName = document.getElementById("group_name")
        const groupDelete = document.getElementById("group_delete")
        const groupLeave = document.getElementById("group_leave")


        const groupResponse = await fetch("/api/v1/groups/single?gid=" + gid)
        const userResponse = await fetch("/api/v1/user/")

        const group = await groupResponse.json()
        const user = await userResponse.json()

        groupName.innerText = group.name

        if (user.uid === group.owner.uid) {
            groupDelete.hidden = false
        } else {
            groupLeave.hidden = false
        }

        // Messages
        const messageResponse = await fetch("/api/v1/messages?gid=" + gid)
        const messages = await messageResponse.json()

        let template = document.getElementById("message_array").innerHTML;
        document.getElementById("display_chat").innerHTML = Mustache.render(template, messages)
        forceElementIntoView()

        // Message Form
        const gidForm = document.getElementById("gid_message")
        gidForm.value = gid
    }

    function deleteGroup() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString)
        const gid = urlParams.get("gid")

        fetch("/api/v1/groups?gid=" + gid, {method: "DELETE"}).then(
            (response) => {
                window.location.replace('/groups')
            },
            (error) => {
                window.location.reload()
            }
        )
    }

    function leaveGroup() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString)
        const gid = urlParams.get("gid")

        fetch("/api/v1/groups/leave?groupId=" + gid, {method: "PUT"}).then(
            (response) => {
                window.location.replace('/groups')
            },
            (error) => {
                window.location.reload()
            }
        )
    }

    function deleteMessage(mid) {
        fetch("/api/v1/messages?mid=" + mid, {method: "DELETE"}).then(
            (response) => {
                window.location.reload()
            },
            (error) => {
                window.location.reload()
            }
        )

    }

    function forceElementIntoView() {
        const divElement = document.getElementById('display_chat'); // Replace 'yourDivId' with the actual ID of your div, or use other methods to select the div.

        if (divElement) {
            // Step 2: Find the last article element within the div
            const articleElements = divElement.querySelectorAll('article');
            const lastArticleElement = articleElements[articleElements.length - 1];

            if (lastArticleElement) {
                // Step 3: Focus on the last article element
                lastArticleElement.scrollIntoView({behavior: 'smooth'});
            }
        }
    }
</script>