<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SC - My Groups</title>
    <meta th:replace="~{snippets/head-links}"/>
</head>
<body>
<div th:replace="~{snippets/navbar}"></div>


<div class="container">
    <h1>My Groups</h1>
</div>

<div class="container" hx-ext="client-side-templates">
    <button hx-get="/api/v1/groups/joined"
            hx-swap="outerHTML"
            hx-trigger="load"
            mustache-array-template="group_array">
        Reload
    </button>

    <template id="group_array">
        {{#data}}
        <article>
            <div class="grid">
                <div>
                    <hgroup>
                        <h1>{{name}}</h1>
                        <h2>{{owner.username}}</h2>
                    </hgroup>
                </div>
                <div>
                    <button onclick="enterChat({{{gid}}})">Enter</button>
                </div>
            </div>
        </article>
        {{/data}}
    </template>
</div>

<div th:replace="~{snippets/footer}"></div>
</body>
</html>

<script lang="js">
    function enterChat(gid) {
        window.location.replace("/chat?gid=" + gid)
    }
</script>