<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SC - Profile</title>
    <meta th:replace="~{snippets/head-links}"/>
</head>
<body>
<div th:replace="~{snippets/navbar}"></div>

<div class="container" hx-ext="client-side-templates">
    <button hx-get="/api/v1/user/"
            hx-swap="outerHTML"
            hx-trigger="load"
            mustache-template="profile_template">
        Load
    </button>

    <template id="profile_template">
        <article>
            Uid: {{uid}} <br>
            Username: {{username}} <br>
            Created On: {{createdAt}}
        </article>
    </template>
</div>

<div th:replace="~{snippets/footer}"></div>
</body>
</html>