<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SC - Register</title>
    <meta th:replace="~{snippets/head-links}"/>
</head>
<body>
<div th:replace="~{snippets/navbar}"></div>

<div class="container">
    <h1 class="">Register</h1>

    <form action="/api/v1/users/" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="password" required>

        <button type="submit">Submit</button>
    </form>
</div>

<div th:replace="~{snippets/footer}"></div>
</body>
</html>