<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Simple Chat</title>
    <meta th:replace="~{snippets/head-links}"/>
</head>
<body>
<div th:replace="~{snippets/navbar}"></div>

<div hx-ext="client-side-templates">
    <button hx-get="/api/v1/users"
            hx-target="#display_users"
            hx-swap="innerHTML"
            mustache-array-template="user_array">
        Reload
    </button>

    <template id="user_array">
        {{#data}}
        <ul>
            <li>{{uid}}</li>
            <li>{{createdAt}}<li>
            <li>{{username}}</li>
        </ul>
        {{/data}}
    </template>

    <div id="display_users"></div>
</div>

<div th:replace="~{snippets/footer}"></div>
</body>
</html>